@{
    ViewData["Title"] = "后台主页";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 container-login">
            <div class="big-img">
                <h1 class="big-title">欢迎进入CHANGE商城后台管理系统</h1>
            </div>
        </div>
    </div>
</div>
