@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="cart">
    <div class="main-content main-content-details single no-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items breadcrumb">
                            <li class="trail-item trail-begin">
                                <a href="~/Home">首页</a>
                            </li>
                            <li class="trail-item trail-end active">
                                商品详情
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="content-area content-details full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="site-main">
                        <div class="details-product">
                            <div class="details-thumd">
                                <div id="myTabContent" class="tab-content">
                                    <div id="thumb-1" class="tab-pane fade in active">
                                        <img src="/images/衣服1.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="thumb-2">
                                        <img src="/images/衣服2.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="thumb-3">
                                        <img src="/images/衣服3.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="thumb-4">
                                        <img src="/images/衣服4.jpg" alt="">
                                    </div>
                                </div>

                                <div class="details-nav col-xs-12 product-preview product_preview">
                                    <div id="thumbnails" class="thumbnails_carousel owl-carousel" data-nav="true">
                                        <a href="#thumb-1" class="img-item is-active" data-toggle="tab">
                                            <img src="/images/衣服1.jpg" alt="img">
                                        </a>
                                        <a href="#thumb-2 " class="img-item" data-toggle="tab">
                                            <img src="/images/衣服2.jpg"
                                                 alt="img">
                                        </a>
                                        <a href="#thumb-3" class="img-item" data-toggle="tab">
                                            <img src="/images/衣服3.jpg"
                                                 alt="img">
                                        </a>
                                        <a href="#thumb-4" class="img-item" data-toggle="tab">
                                            <img src="/images/衣服4.jpg"
                                                 alt="img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="details-infor">
                                <h1 class="product-title">
                                    印花情侣卫衣女春秋薄款宽松学生BF风圆领T恤衫
                                </h1>

                                <div class="price-market">
                                    市场价:&nbsp;&nbsp;<span><a href="#">&yen;199</a></span>
                                </div>
                                <div class="price-activity">
                                    活动价:&nbsp;&nbsp;<span><a href="#">&yen;49</a></span>
                                </div>
                                <div class="stock">
                                    库存量:&nbsp;&nbsp;<span><a href="#">2343件</a></span>
                                </div>
                                <div class="variations">
                                    <div class="attribute attribute_color">
                                        <div class="color-text text-attribute">
                                            主要颜色:
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>粉色</option>
                                                <option>绿色</option>
                                                <option>蓝色</option>
                                                <option>棕色</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="attribute attribute_size">
                                        <div class="size-text text-attribute">
                                            尺码:
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>S</option>
                                                <option>M</option>
                                                <option>L</option>
                                                <option>XL</option>
                                                <option>2XL</option>
                                                <option>3XL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button">
                                            销量: <strong>123</strong>
                                        </div>
                                    </div>
                                    <div class="size-chart-wrapp">
                                        <div class="btn-size-chart">
                                            累计评论:<strong>123</strong>
                                        </div>
                                    </div>
                                    <div class="quantity-add-to-cart">
                                        <div class="quantity">
                                            <div class="control">
                                                <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                <input type="text" data-step="1" data-min="0" value="1" title="数量"
                                                       class="input-qty qty" size="4">
                                                <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                            </div>
                                        </div>

                                        <button class="single_add_to_cart_button button">加入购物车</button>
                                        <button class="single_add_to_cart_button button">加入收藏</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-details-product">
                            <ul class="tab-link">
                                <li class="active">
                                    <a data-toggle="tab" aria-expanded="true" href="#information">商品详情 </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" aria-expanded="true" href="#reviews">累计评价<strong class="relist">123</strong></a>
                                </li>
                            </ul>
                            <div class="tab-container">
                                <div id="information" class="tab-panel active">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>品牌</td>
                                            <td>万有引力博物馆 </td>
                                        </tr>
                                        <tr>
                                            <td>图案</td>
                                            <td>字母</td>
                                        </tr>
                                        <tr>
                                            <td>袖型</td>
                                            <td>常规长袖</td>
                                        </tr>
                                        <tr>
                                            <td>领型</td>
                                            <td>圆领</td>
                                        </tr>
                                        <tr>
                                            <td>年份季节</td>
                                            <td>2020年冬季</td>
                                        </tr>
                                        <tr>
                                            <td>主要颜色</td>
                                            <td>粉色/ 绿色/ 蓝色/ 棕色</td>
                                        </tr>
                                        <tr>
                                            <td>风格</td>
                                            <td>韩版宽松</td>
                                        </tr>
                                        <tr>
                                            <td>材质成分</td>
                                            <td>95%纯棉</td>
                                        </tr>
                                    </table>
                                </div>

                                <div id="reviews" class="tab-panel">
                                    <div class="reviews-tab">
                                        <div class="comments">
                                            <ol class="commentlist">
                                                <li class="conment">
                                                    <div class="conment-container list-group">
                                                        <a href="#" class="list-group-item disabled">
                                                            宝贝评论
                                                        </a>                                                       

                                                        <div class="list-group-item">
                                                            <a href="#" class="avatar">
                                                                <img src="/images/演员.jpg" alt="..." class="img-circle" width="50" height="50">
                                                            </a>
                                                            <!-- 下线 -->
                                                            <div class="comment-text">
                                                                <div class="stars-rating">
                                                                    <span class="count-star"></span>
                                                                </div>
                                                                <p class="meta">
                                                                    <strong class="author">xxxxxx</strong>
                                                                    <span>-</span>
                                                                    <span class="time">2020.1.18</span>
                                                                </p>
                                                                <div class="description">
                                                                    <p>衣服很漂亮</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                        <nav aria-label="Page navigation" id="paging">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#" class="active">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: left;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>



